{% extends 'layout/main.html' %}

{% block content %}
  <section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image">Item</td>
              <td class="description"></td>
              <td class="price">Price</td>
              <td class="quantity">Quantity</td>
              <td class="total">Total</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% if products|length > 0 %}
              {% for product in products %}
                <tr class="cart_item" data-product-id="{{ product.id }}">
                  <td class="cart_product">
                    <a href=""><img src="{{ url_for('uploaded_file', filename=product.image) }}" alt="" width="100" /></a>
                  </td>
                  <td class="cart_description">
                    <h4><a href="">{{ product.name }}</a></h4>
                    <p>Web ID: {{ product.id }}</p>
                  </td>
                  <td class="cart_price">
                    <p>${{ product.price }}</p>
                  </td>
                  <td class="cart_quantity">
                    <div class="cart_quantity_button">
                      <a class="cart_quantity_up" href="">+</a>
                      <input class="cart_quantity_input" type="text" name="quantity" value="{{ product.quantity }}" autocomplete="off" size="2" />
                      <a class="cart_quantity_down" href="">-</a>
                    </div>
                  </td>
                  <td class="cart_total">
                    <p class="cart_total_price">${{ product.price * product.quantity }}</p>
                  </td>
                  <td class="cart_delete">
                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="6" class="text-center">Giỏ hàng trống</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </section> <!-- /#cart_items -->

  <section id="do_action">
    <div class="container">
      <div class="heading">
        <h3>What would you like to do next?</h3>
        <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="chose_area">
            <ul class="user_option">
              <li>
                <input type="checkbox" />
                <label>Use Coupon Code</label>
              </li>
              <li>
                <input type="checkbox" />
                <label>Use Gift Voucher</label>
              </li>
              <li>
                <input type="checkbox" />
                <label>Estimate Shipping & Taxes</label>
              </li>
            </ul>
            <ul class="user_info">
              <li class="single_field">
                <label>Country:</label>
                <select>
                  <option>United States</option>
                  <option>Bangladesh</option>
                  <option>UK</option>
                  <option>India</option>
                  <option>Pakistan</option>
                  <option>Ucrane</option>
                  <option>Canada</option>
                  <option>Dubai</option>
                </select>
              </li>
              <li class="single_field">
                <label>Region / State:</label>
                <select>
                  <option>Select</option>
                  <option>Dhaka</option>
                  <option>London</option>
                  <option>Dillih</option>
                  <option>Lahore</option>
                  <option>Alaska</option>
                  <option>Canada</option>
                  <option>Dubai</option>
                </select>
              </li>
              <li class="single_field zip-field">
                <label>Zip Code:</label>
                <input type="text" />
              </li>
            </ul>
            <a class="btn btn-default update" href="">Get Quotes</a>
            <a class="btn btn-default check_out" href="">Continue</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="total_area">
            <ul>
              <li>
                Total <span class="total_price">${{ total_price }}</span>
              </li>
            </ul>
            <a class="btn btn-default update" href="">Update</a>
            <a class="btn btn-default check_out" href="">Check Out</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /#do_action -->
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      const updateCart = function (response, productId) {
        let cart_count = response.cart_count
        console.log(cart_count)
    
        $('i.fa-shopping-cart')
          .closest('li a')
          .html('<i class="fa fa-shopping-cart"></i> Cart (' + cart_count + ')')
        let updated = response.updated_product
        let row = $('tr.cart_item[data-product-id="' + productId + '"]')
        row.find('.cart_quantity input').val(updated.quantity)
        row.find('.cart_total_price').html('$' + updated.total_price)
    
        let total_price = response.total_price
        $('.total_price').html('$' + total_price)
      }
    
      $('a.cart_quantity_up').click(function (e) {
        e.preventDefault()
    
        const productId = $(this).closest('.cart_item').data('product-id')
        $.ajax({
          url: '/add-to-cart',
          method: 'POST',
          data: JSON.stringify({ product_id: productId }),
          contentType: 'application/json',
    
          success: function (response) {
            console.log(response)
            updateCart(response, productId)
          },
    
          error: function (error) {
            console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:', error)
          }
        })
      })
    
      $('a.cart_quantity_down').click(function (e) {
        e.preventDefault()
    
        const productId = $(this).closest('.cart_item').data('product-id')
        $.ajax({
          url: '/sub-to-cart',
          method: 'POST',
          data: JSON.stringify({ product_id: productId }),
          contentType: 'application/json',
    
          success: function (response) {
            console.log(response)
            updateCart(response, productId)
          },
    
          error: function (error) {
            console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:', error)
            alert('Lỗi khi thêm sản phẩm vào giỏ hàng: ' + error.responseJSON.message)
          }
        })
      })
    
      $('a.cart_quantity_delete').click(function (e) {
        e.preventDefault()
    
        if (!confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng?')) {
          return
        }
    
        const productId = $(this).closest('.cart_item').data('product-id')
        $.ajax({
          url: '/remove-from-cart',
          method: 'POST',
          data: JSON.stringify({ product_id: productId }),
          contentType: 'application/json',
    
          success: function (response) {
            console.log(response)
            let cart_count = response.cart_count
    
            $('i.fa-shopping-cart')
              .closest('li a')
              .html('<i class="fa fa-shopping-cart"></i> Cart (' + cart_count + ')')
            $('tr.cart_item[data-product-id="' + productId + '"]').remove()
    
            if (cart_count === 0) {
              const emptyRow = `
                                                                                                                                                    <tr>
                                                                                                                                                      <td colspan="6" class="text-center">Giỏ hàng trống</td>
                                                                                                                                                    </tr>
                                                                                                                                                  `
              $('table.table tbody').append(emptyRow)
            }
    
            let total_price = response.total_price
            $('.total_price').html('$' + total_price)
          },
    
          error: function (error) {
            console.error('Lỗi khi xóa sản phẩm khỏi giỏ hàng:', error)
          }
        })
      })
    })
  </script>
{% endblock %}
